<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "Xinmin Labs - Ruby on Rails consulting - iPhone consulting - Node.js consulting" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="XinMin Labs is a cutting-edge web and mobile consulting company based in Shanghai, China. We utilize the latest and greater web technologies to make you happy. We are Ruby, Ruby on Rails, Object-C, Javascript and Node.js experts.">
    <meta name="keyworkds" content="Ruby on Rails China, Web Development China, iPhone Development China, iPad Development China, Mobile Development China, Node.js China">
    <meta name="author" content="Xinmin Labs">

    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'app' %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <%= favicon_tag 'images/favicon.png', rel: 'shortcut icon' %>
    <%= favicon_tag 'images/apple-touch-icon-144-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '144x144' %>
    <%= favicon_tag 'images/apple-touch-icon-114-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '114x114' %>
    <%= favicon_tag 'images/apple-touch-icon-72-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '72x72' %>
    <%= favicon_tag 'images/apple-touch-icon-57-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '57x57' %>
  </head>

  <body>
    <%= partial 'shared/header' %>
    <%= yield %>
    <%= partial 'shared/footer' %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36053036-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
